// Specific CSS for your home-page
body {
  &::-webkit-scrollbar {
    display: none;
  }
  min-height: 150vh;
}

a {
  text-decoration: none;
}

#banner {
  overflow-x: hidden;

  figure {
    position: relative;
    height: 100vh;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 15s banner infinite;

    img {
      height: 100vh;
      object-fit: cover;
      float: left;
      width: 100vw;
    }
  }

  @keyframes banner {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
}

#game-list {
  display: grid;
  width: 96vw;
  margin: 0 auto;
}

.fa-star {
  color: rgb(247, 220, 23);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

.empty-star {
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

#current_user {
  &:hover {
    color: rgba(-1, 0, 0, 0.55);
    cursor: default;
  }
}

#logo {
  height: 40px;
  width: 60px;
}

.gl-star-rating {
  display: flex;
  justify-content: center;
}
