.show-details {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #D9E8E3;
  object-fit: cover;
  border-radius: 15px;
  padding: 1em 2em;
  font-size: 16px;
  line-height: 30px;

  a {
    color: black;

    //&:hover {
      //color: #86CCFE;
    //}
  }

  p {
    letter-spacing: 2px;
  }
}

body {
  background-color: #F9F9F9;
  margin-bottom: 40px;
}

.img-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 17px grey;
}

.back {
  display: block;
  font-size: 20px;
  padding-top: 7px;
  padding-left: 33px;
}

.showgrid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 10px 30px;
  grid-gap: 20px;
}

.fa-pen {
  font-size: 20px;
}

.fa-trash-can {
  font-size: 20px;
}

.fa-comment {
  font-size: 20px;
}

.btn-line {
  padding: 10px;
}

.map {
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.3);
}

.book {
  width: 200px;
}

.showgrid-bottom {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.games-details {
  padding: 20px;
}
