.show-details {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  background-color: #D9E8E3;
  object-fit: cover;
  border-radius: 60px;
  padding: 1em 1em;
  font-size: 18px;
  line-height: 30px;
}

body {
  background-color: #F9F9F9;
  margin-bottom: 40px;
}

.title {
}

.img-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  width: 1000px;
  margin-top: 40px;
}

.btn {
  font-size: 18px;
}
