<div id="banner">
  <figure>
    <img class="first" src="https://media.istockphoto.com/id/108348650/photo/ping-pong-action.jpg?s=612x612&w=0&k=20&c=5z-1cBqiVCvKDku7Zw0WWKHjNeGZjAlGqwlSb68GTIY=" alt="">
    <img src="https://media.istockphoto.com/id/157437668/photo/retro-game-console-controller.jpg?s=612x612&w=0&k=20&c=OaSfMBHLvanUAJEjqlY4qJQN10fjS0FEcpM7Gv9nYlc=" alt="">
    <img src="https://media.timeout.com/images/105627949/750/422/image.jpg" alt="">
    <img src="https://cdn.vox-cdn.com/thumbor/Ehtmci33qPo0CQqfvH5eslvsVzI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/23218659/jackass3.jpeg" alt="">
    <img src="https://media.istockphoto.com/id/157437668/photo/retro-game-console-controller.jpg?s=612x612&w=0&k=20&c=OaSfMBHLvanUAJEjqlY4qJQN10fjS0FEcpM7Gv9nYlc=" alt="">
  </figure>
</div>

<div class="container">
  <h2 class="text-center mt-5 fw-bold">Our categories</h2>
  <div class="category-cards d-flex justify-content-around mt-5 mb-5">
    <p class="category-card p-5 text-center" style="background-image: url('https://images.pexels.com/photos/7886602/pexels-photo-7886602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')"><a href="/console-games">Console games</a></p>
    <p class="category-card p-5 text-center" style="background-image: url('https://images.pexels.com/photos/5146979/pexels-photo-5146979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')"><a href="/board-games">Board games</a></p>
    <p class="category-card p-5 text-center" style="background-image: url('https://images.pexels.com/photos/2963372/pexels-photo-2963372.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')"><a href="/sports-games">Sports games</a></p>
    <p class="category-card p-5 text-center" style="background-image: url('https://images.pexels.com/photos/6806096/pexels-photo-6806096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')"><a href="/silly-games">Silly games</a></p>
  </div>
</div>
