<div id="banner" style="background-image: url(<%= image_path 'fifa.jpg'%>);">
</div>

<div class="container">
  <h2 class="text-center mt-5 fw-bold">Our categories</h2>
  <div class="category-cards d-flex justify-content-around mt-5 mb-5">
    <p class="category-card p-5 text-center" style="background-image: url('https://images.pexels.com/photos/7886602/pexels-photo-7886602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')"><a href="#">Console games</a></p>
    <p class="category-card p-5 text-center" style="background-image: url('https://images.pexels.com/photos/5146979/pexels-photo-5146979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')"><a href="#">Board games</a></p>
    <p class="category-card p-5 text-center" style="background-image: url('https://images.pexels.com/photos/2963372/pexels-photo-2963372.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')"><a href="#">Sports games</a></p>
    <p class="category-card p-5 text-center" style="background-image: url('https://images.pexels.com/photos/6806096/pexels-photo-6806096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')"><a href="#">Silly games</a></p>
  </div>
</div>
