.game-card {
  width: 400px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
  transition: 0.5s;

  .game-card-img {
    @extend .card-img;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:hover {
    transform: scale(1.2)
  }
}

.category-card {
  width: 290px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  }

  a:hover{
    opacity: 0.9;
  }

}
